.success{
    color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    margin: 0px auto;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}
.admin-info{
    padding: 2%;
    margin: 10vh auto 0 auto ;
    max-width: 400px;
    height: auto;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.104);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    border: solid 2px rgba(255, 255, 255, 0.111);
    color: white;
    font-family: sans-serif;
    font-variant: small-caps;
    text-align: center;
    justify-content: center;

}
.admin-title{
    margin-bottom: 10px;
}
.logout-but{
    cursor: pointer;
    padding: 8px;
    border: solid 2px teal;
    color: white;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
}
.logout-but:hover{
    background-color:teal;
    transition: 0.3s;
  }
  table, th, td {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    border: solid 2px rgba(255, 255, 255, 0.315);
    color: white;
    width: 10px;
    text-align: center;
    height: 40px;
    
  }
  .users-td{
    background: rgba(0, 0, 0, 0.527);
  }

  th{
    background: rgba(0, 0, 0, 0.527);
    padding-left: 20px;
    padding-right: 20px;

  }
  td{
    width: 200px;
  }
  .wrapword {
    word-wrap: break-word;
    width: 50%;

}
td{
  padding: 20px;

}
.mesazhi{
    width: 500px;
  }
  .mesazhi-main{
    display: flex;
    justify-content: center;
  }
.editprofile-button{
  cursor: pointer;
  padding: 8px;
  border: solid 2px rgb(128, 0, 0);
  color: white;
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
  margin-bottom: 15px;
}
.editprofile-button:hover{
  background-color:rgb(128, 0, 0);
  transition: 0.3s;
}
.user-type{
  color: black;
}
.error{
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  text-align: center;
  border-radius: 5px;
}